.app__header__top {
  width: 100%;
  height: 2.5rem;
  display: flex;
  justify-content: center;
  padding: .3rem 0;
  border-bottom: 1px solid #00000041;
  .app__header__top__content {
    width: 70%;
    display: flex;
    justify-content: end;
    gap: 1rem;
    padding: 0.4rem;
  }
}
